<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>DoDo</title>
  <link rel="stylesheet" type="text/css" href="./main.css">
  <!-- Latest compiled and minified CSS -->
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
  <div id="app">
    <navbar :userid= "userId" @logoutbuttonclick="logOutButtonClick"></navbar>
    <!-- main -->
    
    <!-- <div class="jumbotron" id="jumbo"v-if="userId == null">
      <div class="container">
        <h1>Welcome to DoDo!</h1>
        <h3>DoDo - Do your to Do</h3>
        <p>Life can feel overwhelming, but it doesn’t have to. Todoist lets you keep track of everything in one place, so you can get it all done and enjoy more peace of mind along the way.</p>
        <p><a class="btn btn-lg" href="" role="button" data-toggle="modal" data-target="#signUpModal">Get Started- It's Free</a></p>
      </div>
    </div> -->
    <div class="container" id="welcome" v-if="userId != null">
        <h1>Welcome back !</h1>
        <h5>DoDo - Do your to Do</h5>
        <div>
          <h3>Today Jokes:</h3>
          <blockquote class="blockquote text-center" id="joke" >
            <p class="mb-0">"{{jokes}}"</p>
          </blockquote>
        </div>
      <div class="text-center">
        <h2>What is your plan?</h2>
      </div>
      <hr>
      <div>
        <form>
          <div class="form-group">
            <label for="addTodo">New Todo</label>
            <input type="text" class="form-control" placeholder="what your gonna do?" v-model="task">
          </div>
          <button type="submit" class="btn btn-default" @click="addTodo">Add</button>
        </form>
      </div>
      <hr>
      <h3>Waiting to be completed!</h3>
      <div class="rows"  v-for="todo in todos">
        <todo :todo="todo" @completedtodo="completedTodo" @gettodoforedit="getTodoForEdit" @deletetodo="deleteTodo"></todo>
        <br/>        
      </div>
      <br/>
      <hr>
      <h3>Completed To Do</h3>
      <div class="rows"  v-for="todo in completedTodos">
        <complete-todo :todo="todo" @uncompletedtodo="uncompletedTodo" @deletetodo="deleteTodo"></complete-todo>
      </div>          
        
    </div>
<!-- Modal -->
<div id="myModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Edit your Todo</h4>
      </div>
      <div class="modal-body">
        <!-- <p>Some text in the modal.</p> -->
        <form>
            <div class="form-group">
              <label for="addTodo">Task</label>
              <!-- {{editTodo}} -->
              <input type="text" class="form-control" v-model="editTodo.task">
            </div>
            <button type="button" class="btn btn-default" @click="EditTodo(editTodo)" data-dismiss="modal">Edit</button>
          </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div>
<!-- Modal sign in -->
<login :userlogin="userLogin" @loginuser= "loginUser"></login>

<!-- Modal sign up -->
<signup :objuser="objUser" @createuser="createUser"></signup>
  <!-- end signup -->

  </div>


  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
  

  <script src="./component.navbar.js" charset="utf-8"></script>
  <script src="./component.todo.js" charset="utf-8"></script>
  <script src="./component.completetodo.js" charset="utf-8"></script>
  <script src="./component.login.js" charset="utf-8"></script>
  <script src="./component.signup.js" charset="utf-8"></script>
  <script src="./loginfb.js"></script>
  <script src="./main.js" charset="utf-8"></script>

</body>
</html>